@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  font-size: 16px;
}
%container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%hcolor {
  color: #353434;
}
%btnColor {
  color: #fff;
  background-color: #544cac;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }
}
%arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 7px;
  background-color: #f9faff;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  svg {
    path {
      fill: #ef6010;
    }
  }
  &:last-child {
    transform: rotate(180deg);
  }
  &:hover {
    background-color: #ef6010;
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
@mixin card($w, $h, $mh) {
  width: 100%;
  height: $h;
  max-width: $w;
  max-height: $mh;
  box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  }
}
@mixin cardIcon($w, $h, $br) {
  max-width: $w;
  max-height: $h;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $br;
}
h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  @extend %hcolor;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  @extend %hcolor;
}
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  color: #323232;
}
h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #323232;
}
h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 50px;
  color: #ff5c00;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  background-color: #f5f7ff;
  padding-top: 23px;

  .menu-icon {
    display: none;
  }

  .close-icon {
    display: none;
  }
  .header-icon {
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
    display: none;
  }
  .container {
    @extend %container;
  }
  .logo svg {
    width: 100%;
    max-height: 46px;
  }
  .nav {
    &-list {
      display: flex;
      gap: 1.5rem;
      &-item {
        a {
          display: inline-block;
          padding: 0 5px;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #272323;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.1);
            color: #4239b0;
          }
        }
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 307px;
    input {
      width: 100%;
      padding: 10px 35px 10px 20px;
      border: none;
      border-radius: 50px;
      background-color: #fff;
      font-size: 14px;
      &:focus {
        outline: none;
      }
    }
    button {
      position: absolute;
      top: 10%;
      right: 2%;
      max-height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 7px;
      background-color: #c0c2f838;
      border: none;
      cursor: pointer;
    }
  }
  .auth-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
      font-weight: 400;
      font-size: 14px;
      color: #272323;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
        color: #4239b0;
      }
    }
  }
}
.banner {
  background-color: #f5f7ff;
  padding: 3.5rem 1rem 0;
  .container {
    @extend %container;
    .main-content {
      max-width: 100%;
      h1 {
        padding-right: 6rem;
        span {
          color: #ff5c00;
        }
      }
      p {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
      .btnAndLink {
        display: flex;
        align-items: center;
        gap: 2.125rem;
        .btn {
          @extend %btnColor;
          padding: 0.75rem 1.375rem;
          border-radius: 6px;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.8rem;
          color: #000000;
          transition: all 0.3s ease;
          &:hover {
            color: #ff5c00;
          }
        }
      }
    }
    .banner-img {
      img {
        object-fit: cover;
      }
    }
  }
}
.companies {
  padding-top: 2rem;
  padding-bottom: 4.125rem;
  .container {
    @extend %container;
    padding: 0 2rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
.howItWorks {
  .container {
    @extend %container;
    align-items: flex-end;
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 435px;
      width: 100%;
      h2 {
        padding-bottom: 0.75rem;
      }
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"]#more_about_profile:checked
        ~ .profile
        label
        span
        svg {
        transform: rotate(180deg);
      }
      input[type="checkbox"]#more_about_vacancies:checked
        ~ .vacancies
        label
        span
        svg {
        transform: rotate(180deg);
      }
      input[type="checkbox"]#more_about_job:checked ~ .job label span svg {
        transform: rotate(180deg);
      }
      input[type="checkbox"]:not(:checked) + .profile,
      .vacancies,
      .job {
        height: 58px;
        // max-height: 58px;
      }
      input[type="checkbox"]:checked + .profile {
        height: 247px;
      }
      input[type="checkbox"]:checked + .vacancies {
        height: 175px;
      }
      input[type="checkbox"]:checked + .job {
        height: 247px;
      }
      div {
        background-color: #f5f7ff;
        border-radius: 8px;
        transition: all 0.3s ease;
        overflow: hidden; //під питанням?
        label {
          display: flex;
          align-items: center;
          position: relative;
          height: 58px;
          padding: 0.75rem;
          .num {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            color: #9444c9;
            background-color: #f3e0ff;
            border-radius: 8px;
          }
          span {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            &:hover {
              cursor: pointer;
            }
            svg {
              transition: all 0.3s ease;
            }
          }
        }
        p {
          padding: 0.2rem 0.25rem 1.25rem 3.75rem;
        }
      }
    }
    .video {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      iframe {
        max-width: 100%;
        max-height: 100%;
        width: 635px;
        height: 433px;
        border: none;
        border-radius: 20px;
      }
    }
  }
}
.whyChooseUs {
  .container {
    @extend %container;
    padding: 7.5rem 0;
    justify-content: center;
    flex-direction: column;
    .titleWhyUs {
      text-align: center;
      max-width: 543px;
      width: 100%;
      p {
        padding-top: 1.25rem;
        padding-bottom: 2.7rem;
      }
    }
    .cardsWhyUs {
      display: flex;
      gap: 1.875rem;
      .card-1 {
        @include card(350px, 254px, 254px);
        padding: 2.25rem;
        .card-icon {
          @include cardIcon(60px, 60px, 7px);
          background-color: #6156dc;
        }
        h3 {
          padding-top: 1.375rem;
          padding-bottom: 1rem;
        }
      }
      .card-2 {
        @include card(350px, 254px, 254px);
        padding: 2.25rem;
        .card-icon {
          @include cardIcon(60px, 60px, 7px);
          background-color: #ef6010;
        }
        h3 {
          padding-top: 1.375rem;
          padding-bottom: 1rem;
        }
      }
      .card-3 {
        @include card(350px, 254px, 254px);
        padding: 2.25rem;
        .card-icon {
          @include cardIcon(60px, 60px, 7px);
          background-color: #a73eed;
        }
        h3 {
          padding-top: 1.375rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}
.featuredJobs {
  overflow-x: hidden;
  .container {
    margin: 0 auto;
    text-align: center;
    max-width: 543px;
    width: 100%;
    p {
      padding-top: 1.25rem;
    }
  }
  .cardsJobs {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3.2rem;
    .arrows {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      padding-left: 2rem;
      cursor: pointer;
      .disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      .arrow {
        @extend %arrow;
      }
    }
    .cardsjob-container {
      padding-top: 5rem;
      overflow-x: hidden;
      width: 100%;
      .wrap {
        flex-wrap: wrap;
      }
      .cardsJob {
        display: flex;
        gap: 4rem;
        transition: transform 0.5s ease;
        .cardjob {
          @include card(380px, 465px, 100%);
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 380px;
          position: relative;
          transition: all 0.3s ease;
          &:hover {
            transform: translateY(-35px);
            button {
              @extend %btnColor;
            }
          }
          & > span {
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
            // transition: all .3s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
          .cardjob-icon {
            width: 83px;
            height: 83px;
            margin-top: 3rem;
            background: #fea06b;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            img {
              object-fit: cover;
              border-radius: 50%;
            }
          }
          h5 {
            padding-top: 1.75rem;
          }
          & > p {
            color: #4238af;
            padding-bottom: 2.75rem;
          }
        }
        .salaryAndLocation {
          display: flex;
          flex-direction: column;
          gap: 0.875rem;
          .salary,
          .location {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            & > span {
              display: flex;
              align-items: center;
            }
            p {
              width: 100%;
              display: flex;
              justify-content: space-between;
              span {
                color: #323232;
              }
            }
          }
        }
        .cardJobBtns {
          display: flex;
          gap: 1.75rem;
          padding-top: 2rem;
          .heart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 49px;
            height: 49px;
            background-color: #f9faff;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background-color: #ff5c00;
              svg {
                margin-top: 0.3rem;
                margin-left: 0.1rem;
                path {
                  fill: #ffffff;
                }
              }
            }
          }
          button {
            @extend %btnColor;
            background: #38318b54;
            padding: 0.875rem 2.125rem;
            border-radius: 47px;
          }
        }
      }
    }
  }
  .viewMore {
    display: flex;
    justify-content: center;
    padding-top: 4.75rem;
    .show-all {
      @extend %btnColor;
      padding: 0.875rem 2.125rem;
      border-radius: 47px;
    }
  }
}
.ourCustomer {
  padding-top: 7.5rem;
  .container {
    @extend %container;
    flex-direction: column;
    .titleCustomer {
      margin: 0 auto;
      text-align: center;
      max-width: 543px;
      width: 100%;
      p {
        padding-top: 1.25rem;
        padding-bottom: 2.8rem;
      }
    }
    .contentCustomer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .iconCustomer {
        max-width: 350px;
        width: 100%;
        max-height: 350px;
        background-image: url("../images/customerBackgroundLeter.png"),
          url("../images/customerBackgroundDots.png"),
          url("../images/customerBackground.png");
        background-position: top 10px left 58px, bottom 56px left 0px, top right;
        background-size: auto, auto, cover;
        background-repeat: no-repeat, no-repeat, no-repeat;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-bottom-left-radius: 170px;
          border-bottom-right-radius: 170px;
        }
      }
      .customerInfo {
        max-width: 731px;
        width: 100%;
        & > h3 {
          padding-top: 1.5rem;
        }
        & > p:first-of-type {
          text-transform: uppercase;
          padding-bottom: 0.5rem;
        }
        p:last-of-type {
          color: #383838;
        }
        .customerRaiting {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.625rem;
        }
        .customerArowsAndViewers {
          padding-top: 2.4rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .arrows {
            display: flex;
            align-items: center;
            gap: 0.9rem;
            .arrow {
              @extend %arrow;
              max-width: 41px;
              max-height: 41px;
            }
          }
          .customerViewers {
            display: flex;
            align-items: center;
            div {
              width: 53px;
              height: 53px;
              background: #ef6010;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              img {
                border-radius: 50%;
                object-fit: cover;
              }
              &:nth-of-type(1) {
                transform: translateX(150%);
              }
              &:nth-of-type(2) {
                transform: translateX(100%);
                img {
                  width: 80%;
                  object-fit: cover;
                }
              }
              &:nth-of-type(3) {
                transform: translateX(50%);
              }
              &:nth-of-type(4) {
                transform: translateX(0%);
              }
            }
          }
        }
      }
    }
  }
}
.statistics {
  margin-top: 7.4rem;
  padding: 0 1rem;
  .container {
    @extend %container;
    background-color: #ced5f4;
    border-radius: 30px;
    height: 229px;
    justify-content: space-evenly;
    div {
      text-align: center;
      h2 {
        font-family: "Oswald", sans-serif;
        color: #584ec6;
      }
      p {
        padding-top: 0.5rem;
        color: #fff;
      }
    }
  }
}
.pricingPlan {
  padding-top: 7rem;
  .container {
    @extend %container;
    flex-direction: column;
    .titlePricing {
      margin: 0 auto;
      text-align: center;
      max-width: 543px;
      width: 100%;
      p{
        padding-top: 1rem;
      }
    }
    .cardsPricing {
      padding-top: 4.7rem;
      display: flex;
      gap: 1.875rem;
      transition: transform 0.3s ease;
      .cardPricing {
        @include card(350px, 537px, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 350px;
        transition: all 0.3s ease;
        padding: 4rem;
        & > h3 {
          color: #4238af;
          text-transform: uppercase;
        }
        & > h2 {
          font-size: 45px;
          line-height: 55px;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        &:hover {
          transform: translateY(-30px);
          .cardPricingBtn {
            button {
              background-color: #544cac;
            }
          }
        }
        .priceDescription {
          padding-top: 4rem;
          padding-bottom: 2.75rem;
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
          div {
            display: flex;
            align-items: center;
            gap: 0.675rem;
            span {
              display: flex;
              align-items: center;
            }
          }
        }
        .cardPricingBtn {
          button {
            @extend %btnColor;
            background: #38318b54;
            padding: 0.875rem 2.125rem;
            border-radius: 47px;
          }
        }
      }
    }
  }
}
footer {
  margin-top: 7.4rem;
  padding-top: 6.875rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #dbe2ff;
  .container {
    @extend %container;
    flex-direction: column;
    padding: 0 0.5rem;
    .footerMenus {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .footerMenu {
        & > h3 {
          font-family: "Oswald", sans-serif;
          font-size: 24px;
          line-height: 26px;
          font-weight: 400;
          padding-bottom: 1rem;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          li {
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.1);
            }
            a {
              color: #717171;
            }
          }
        }
      }
    }
    .LogoAndNavigation {
      margin-top: 5.625rem;
      padding-top: 0.875rem;
      padding-bottom: 0.875rem;
      border-top: 2px solid #625bae;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .footerLogo {
        display: flex;
      }
      .footerBottomMenu {
        ul {
          display: flex;
          gap: 4rem;
          li {
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.1);
            }
            a {
              font-weight: 600;
              font-size: 14px;
              line-height: 26px;
              color: #3a2e5c;
            }
          }
        }
      }
      .socialLinks {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        div {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: #fff;
          &:hover {
            background-color: #4238afcf;
            a {
              span {
                path {
                  fill: #fff;
                }
              }
            }
          }
          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              path {
                fill: #979797;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  // header
  header .container {
    padding: 1rem;
  }
  header .menu-icon {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav.active {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 0rem;
    width: 100%;
    height: 100vh;
    padding-left: 1rem;
    background-color: #f5f7ff;
    .nav-list {
      flex-direction: column;
    }
  }

  .close-icon {
    display: block;
  }
  // header
  // featuredJobs
  .featuredJobs {
    .cardsJobs {
      flex-direction: column-reverse;
      .arrows {
        padding-left: 0;
      }
      .cardsjob-container {
        .cardsJob.wrap {
          justify-content: center;
        }
        .cardsJob {
          margin: 0 1rem;
          gap: 2rem;
          .cardjob {
            width: 100%;
            min-width: 280px;
            max-width: 280px;
          }
        }
      }
    }
  }
  // featuredJobs
  // ourCustomer
  .ourCustomer {
    .container {
      padding: 0 1rem;
      .contentCustomer {
        gap: 1rem;
      }
    }
  }
  // ourCustomer
  // pricingPlan
  .pricingPlan {
    padding: 7rem 1rem;
    .container {
      .cardsPricing {
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }
  // pricingPlan
  // footer
  footer {
    .container {
      padding: 0 1rem;
      .LogoAndNavigation {
        .footerBottomMenu {
          ul {
            gap: 2rem;
          }
        }
      }
    }
  }
  // footer
}
@media (max-width: 960px) {
  // header
  .nav ~ .auth-buttons {
    display: none;
  }
  .nav.active ~ .auth-buttons {
    display: flex;
    position: absolute;
    top: 21rem;
    left: 1.2rem;
  }
  // header
  // banner
  .banner {
    .container {
      flex-direction: column;
      .main-content {
        h1 {
          padding: 0;
        }
      }
    }
  }

  // banner
  // companies
  .companies {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .container {
      justify-content: center;
      gap: 5rem;
    }
  }
  // companies
  //howItWorks
  .howItWorks {
    .container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 1rem;
      .content {
        max-width: 100%;
      }
    }
  }
  //howItWorks
  // whyChooseUs
  .whyChooseUs {
    .container {
      .cardsWhyUs {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  // whyChooseUs
  // footer
  footer {
    .container {
      .footerMenus {
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .LogoAndNavigation {
        margin-top: 2rem;
      }
    }
  }
  // footer
}

@media (max-width: 768px) {
  // banner
  .banner {
    .container {
      .banner-img {
        width: 100%;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
  // banner
  //howItWorks
  .howItWorks {
    .container {
      .content {
        input[type="checkbox"]:not(:checked) + .profile,
        .vacancies,
        .job {
          max-height: 58px;
        }
        input[type="checkbox"]:checked + .profile {
          max-height: 500px;
          height: 100%;
        }
        input[type="checkbox"]:checked + .vacancies {
          max-height: 500px;
          height: 100%;
        }
        input[type="checkbox"]:checked + .job {
          max-height: 500px;
          height: 100%;
        }
      }
    }
  }
  //howItWorks
  // ourCustomer
  .ourCustomer {
    .container {
      .contentCustomer {
        flex-direction: column;
      }
    }
  }
  // ourCustomer
  // footer
  footer {
    .container {
      .LogoAndNavigation {
        flex-direction: column;
        gap: 2rem;
        .footerBottomMenu {
          ul {
            gap: 1rem;
          }
        }
      }
    }
  }
  // footer
}
@media (max-width: 480px) {
  // header
  header .header-icon {
    width: 25px;
    height: 25px;
  }
  // headers
  // companies
  .companies {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .container {
      justify-content: center;
      gap: 3rem;
    }
  }
  // companies
  // statistics
  .statistics {
    .container {
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem;
      height: 100%;
    }
  }
  // statistics
  // pricingPlan
  .pricingPlan {
    .container {
      .cardsPricing {
        .cardPricing {
          padding: 2rem;
          min-width: 200px;
        }
      }
    }
  }
  // pricingPlan
  // footer
  footer {
    .container {
      .LogoAndNavigation {
        .footerBottomMenu {
          ul {
            flex-direction: column;
          }
        }
      }
    }
  }
  // footer
}
